<tr>
  <td class="label">Separate Inputs</td>
  <td class="value"><%= @field.fieldable.separate_inputs? ? 'Yes' : 'No' %></td>
</tr>
<tr>
  <td class="label">Dividers</td>
  <td class="value"><%= @field.fieldable.dividers? ? 'Yes' : 'No' %></td>
</tr>
