<tr>
  <td class="label">Rows</td>
  <td class="value"><%= @field.rows %></td>
</tr>
<tr>
  <td class="label">Columns</td>
  <td class="value"><%= @field.columns %></td>
</tr>
<tr>
  <td class="label">Prompt</td>
  <td class="value"><%= @field.prompt %></td>
</tr>
<tr>
  <td class="label">Word Wrapping</td>
  <td class="value"><%= @field.wordwrapping %></td>
</tr>
