<tr>
  <td class="label">Maxlength</td>
  <td class="value"><%= @field.fieldable.maxlength %></td>
</tr>
<tr>
  <td class="label">Size</td>
  <td class="value"><%= @field.fieldable.size %></td>
</tr>
<tr>
  <td class="label">Prompt</td>
  <td class="value"><%= @field.fieldable.prompt %></td>
</tr>
