<tr>
  <td class="label">Rows</td>
  <td class="value"><%= @field.fieldable.rows %></td>
</tr>
<tr>
  <td class="label">Columns</td>
  <td class="value"><%= @field.fieldable.columns %></td>
</tr>
<tr>
  <td class="label">Prompt</td>
  <td class="value"><%= @field.fieldable.prompt %></td>
</tr>
<tr>
  <td class="label">Word Wrapping</td>
  <td class="value"><%= @field.fieldable.wordwrapping %></td>
</tr>
