<tr>
  <td class="label">Default Checked</td>
  <td class="value"><%= @field.fieldable.default_checked? ? 'Yes' : 'No' %></td>
</tr>
<tr>
  <td class="label">Input Label</td>
  <td class="value"><%= @field.fieldable.input_label %></td>
</tr>
<tr>
  <td class="label">Input Value</td>
  <td class="value"><%= @field.fieldable.input_value %></td>
</tr>
