<tr>
  <td class="label">Combine Option Groups</td>
  <td class="value"><%= @field.fieldable.combine_option_groups? ? 'Yes' : 'No' %></td>
</tr>
<tr>
  <td class="label">Missing Value Error</td>
  <td class="value"><%= @field.fieldable.missing_value_error %></td>
</tr>
